body div#wrapper {
	width: 416px;
	height: 412px;
	padding: 10px;
	padding-top: 5px;
	background: #ab8d88; /* Old browsers */
	background: -moz-linear-gradient(top,  #ab8d88 0%, #928081 50%, #605353 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ab8d88), color-stop(50%,#928081), color-stop(100%,#605353)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ab8d88 0%,#928081 50%,#605353 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ab8d88 0%,#928081 50%,#605353 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ab8d88 0%,#928081 50%,#605353 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ab8d88 0%,#928081 50%,#605353 100%); /* W3C */
	border-radius: 8px;
}

	body div#wrapper img {
		width:"12";
		height: "16px";
		vertical-align: middle;
	}

	body div#wrapper span {
		font-size: 1em;
		vertical-align: middle;
	}

	body div#wrapper ul#buttons {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		margin-left: 310px;
		margin-top: -27px;
	}

		body div#wrapper ul#buttons li {
			display: inline;
			margin: -2px;
		}

		#close-button {
			background-image: url(../images/close-button.png);
			background-repeat: no-repeat;
			background-position: center;
			width: 49px;
			height: 20px;
		}

		#maximize-button {
			background-image: url(../images/maximize-button.png);
			background-repeat: no-repeat;
			background-position: center;
			width: 28px;
			height: 20px;
		}	

		#minimize-button {
			background-image: url(../images/minimize-button.png);
			background-repeat: no-repeat;
			background-position: center;
			width: 29px;
			height: 19px;
		}	

	body div#wrapper div#calculator {
		background: #D9E4F1;
		width: 420px;
		height: 387px;
		color: #1E395B;
		margin-top: 8px;
		margin-left: -3px;
		border: 1px solid black;
	}

		nav.calc-menu{
			background: -webkit-linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
		    background:    -moz-linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
		    background:      -o-linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);
		    background:         linear-gradient(#FEFEFF 0, #E5EAF5 34%, #D4DBED 35%, #E1E6F6 100%);		    
		    width: 100%;
		    margin: 5px;
			margin-left: 0px;
			margin-top: -15px;
		    border-bottom: 1px solid grey;		    
		}

		body div#wrapper header nav ul {		
			list-style-type: none;		
			padding-left: 5px;
			margin-bottom: 0px;	
		}
		
			body div#wrapper header nav ul li {
				display: inline-block;
				padding-right: 10px;
			}

				body div#wrapper header nav ul li:first-letter {
					text-decoration: underline;
				}

				body div#wrapper header nav ul li a {
					text-decoration: none;
					color: #000;
				}	

		.calc-screen {
			background: -webkit-linear-gradient(#E8F0FB, #F3F7FD, #FFFFFF);
			background:    -moz-linear-gradient(#E8F0FB, #F3F7FD, #FFFFFF);
		    background:      -o-linear-gradient(#E8F0FB, #F3F7FD, #FFFFFF);
		    background:         linear-gradient(#E8F0FB, #F3F7FD, #FFFFFF);
			width: 397px;
			height: 50px;
			margin: 10px;		
		    font-size: 24px;
			text-align: right;
			border: 1px #A2A2A2 solid;
			border-radius: 3px;
			font-family: Consolas, monospace;
		}

		.binary-values {
			width: 400px;
			height: 60px;	
			margin: 10px;
			margin-top: 1px;
			text-align: center;
			border:1px #A2A2A2 solid;
			border-radius: 3px;
			font-size: 12px;
			font-family: Consolas, monospace;
		}

			#position-bit {
				color: #808080;
			}

			td.right-alignment {
				text-align: right;
				padding-right: 10px;
			}

			td.left-alignment {
				text-align: left;
				padding-left: 10px;
			}
		
		table.buttons {
			border-spacing: 2px;
			margin-left: -3px;
			margin-top: -7px;
			color: #1E395B;
		}	

		form {
			width: 71px;
			height: 89px;
			font-size: 12px;
			margin-left: 10px;
			margin-right: 5px;
			border-radius: 3px;
			border:1px #A2A2A2 solid;
		}

		button {
			width: 36px;
			height: 28px;
			background: -webkit-linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    background:    -moz-linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    background:      -o-linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    background:         linear-gradient(#F0F6FB 0, #E2EAF3 49%, #D5E0ED 50%, #D7E2EF 100%);
		    border: 1px solid #99A7B8;
		    border-radius:2px;
		    color: #1E395B;
		    padding: 3px;
		}

		button.disabled {
			background: #D9E4F1;
			border: 1px solid #BDCAD9;
		}

		button:not(.disabled):hover {
			background: -webkit-linear-gradient(#FEF5EB 0, #FCE3C6 49%, #FBD075 50%, #FCF8CA 100%);
		    background:    -moz-linear-gradient(#FEF5EB 0, #FCE3C6 49%, #FBD075 50%, #FCF8CA 100%);
		    background:      -o-linear-gradient(#FEF5EB 0, #FCE3C6 49%, #FBD075 50%, #FCF8CA 100%);
		    background:         linear-gradient(#FEF5EB 0, #FCE3C6 49%, #FBD075 50%, #FCF8CA 100%);
		    border:1px solid #F5D50F;	
			color: #1E395B;
		}

		button.expand-height-button {
			height: 60px;
		}

		button.expand-width-button {
			width: 76px;
		}

		#bolded {
			font-weight:bold;
		    font-size:14px;
		}