* {
	margin: 0;
	padding: 0;
}

body {
	padding: 15px 15px;
	background-color: black;

	.display-big 
	{
		img {
			display:none;
		}
	}

	ul {
	 
		li { 
			list-style-type:none;
			display: inline;

			.thumbnails {
				height: 100px;
				border: 2px solid darkblue;
				margin-left: 15px;
				opacity:0.75;

				&:hover {
				    opacity:1;  
					box-shadow: blue 0px 0px 35px;
				}	
			}

		}		
	}
}

input {
    display: none;

    &:checked + label #display-big1 {
        display: block;

    }

    &:checked + label #display-big2 {
        display: block;

    }

    &:checked + label #display-big3 {
        display: block;

    }

    &:checked + label #display-big4 {
        display: block;

    }

    &:checked + label #display-big5 {
        display: block;
    }

    &:checked + label #display-big6 {
        display: block;
    }

    &:checked + label img {
		border: 1px solid cyan;
		padding-top: 10px;
		margin-top: 15px;
		margin-bottom: 50px;
		margin-left: 15px;
		max-height: 500px;		
		box-shadow:white 0px 0px 10px;
    }
}
