* {
	padding: 0;
	margin: 0;
}

section {
    height: 550px;
    width: 750px;
    border: 2px solid #737373;
    border-radius: 5px;
}

ul, fieldset {
    text-align: center;
    list-style: none;	
    float: left;
}

nav {
    margin-left: 25px;
	margin-right: 25px;
    padding: 5px 110px 35px;
    text-align: center;
    font-size: 24px;
	font-weight: bold;
    border-bottom: 2px solid #393939;
}

    nav ul li {
        float: left;
        margin-right: 5px;
    }

 a {
	color: #07b0ef;
	text-decoration: underline;
}

article {
    width: 481px;
    height: 460px;
    float: left;
    margin-top: 10px;
	margin-left: 10px;
    border: 2px solid #393939;
}

fieldset {
    height: 139px;
    width: 225px;
    margin: 5px 1px 0 5px;
    padding: 2px 2px 0 2px;
    font-size: 16px;
	font-family: Georgia;
	font-weight: normal;
    border: 2px solid #393939;
}

    fieldset legend {
        font-size: 18px;
        text-align: center;
        padding: 0 5px;
        margin-left: 25px;
    }

	fieldset ul li {
    	margin: 5px 5px 10px 5px;
		text-align: left;
	}

    fieldset ul:last-of-type li {
        margin: 28px 0 -18px 0;		
        text-align: left;
    }

img {
    width: 120px;	
	height: 80;
}

aside {
    padding-top: 50px;
	padding-left: 25px;
    float: left;    
    width: 150px;
}

    aside ul {
        width: 220px;
        font-size: 22px;
        margin: 10px 0 0 -3px;
    }
	
	aside ul li input {
        width: 180px;
        margin: 15px 0 0 -20px;
    }
	
    aside li:nth-child(3n+1) {
        float: left;
        margin: 20px 0 0 -5px;
    }

    aside ul li:nth-child(3n+2) {
        float: left;
        margin: 20px 0 0 25px;
    }

    aside ul li:nth-child(3n+8) {
        margin-left: 40px;
    }